@use 'variaveis';

.loja{
    margin:4vw 0;

    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__img{
        height: auto;
        width: 30%;
        max-width: 100%;
    }

    &__title{
        font-size: 44px;
    }

    &__outdoor{
        display: grid;
        grid-template-columns: repeat(5, 19%);
        
        gap: 1.25%;

        @media (max-width:1024px){
            grid-template-columns: repeat(9, 32%);
            gap: 2%;
            overflow-x: scroll;
        }
        @media (max-width:768px){
            grid-template-columns: repeat(9, 44%);
            gap: 2%;
            overflow-x: scroll;
        }

        &__item{
            position: relative;
            overflow-y: hidden;
            background-color: #62929E;
            box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.558);
            border-radius: 8px;

            h3{
                text-align: center;
                font-weight: normal;
            }

            img{
                width: 100%;
            }

            &__button{
                a{
                    position: absolute;
                    bottom: 40px;
                    left: 0;
                    width: 92%;
                    margin: 0 4%;
                    color: variaveis.$corDeFont;
                    text-decoration: none;
                    border-radius: 8px;
                    background-color: variaveis.$corDeFundo;
                    text-align: center;
                    padding: 8px 0;

                    &:hover{
                        background-color: darken(variaveis.$corDeFundo,5%);
                    }
                }
            }
        }
    }
}