@use 'variaveis';
@use 'cabecalho';
@use 'apresentacao';
@use 'loja';
@use 'avaliacao';
@use 'assinatura';
@use'resumos';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Belanosima', sans-serif;
}

body{
    background-color: variaveis.$corDeFundo ;
}

.container{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 16px;
}

@mixin title($fontSize:44px){
    font-size: $fontSize;
    
}

@mixin text($fontSize:14px){
    font-size: $fontSize;
    color: variaveis.$corDeFont;
}

.title{
    @include title(40px)
}

.title__big{
    @include title(48px);
    color: variaveis.$corDeTitulo;
}

.title__small{
    @include title(32px)
}

.text{
    @include text(16px)
}

.text__big{
    @include text(20px)
}

.text__small{
    @include text(12px)
}